body{
    overflow: hidden;
    margin:0;
    padding:0;
}
h2{

}

.rounded{
    border-radius: 10px;
}
.img-helper{

    border: 1px solid #dddddd;
    overflow: hidden;
    margin: 10px;
}
.game-item{

    width:18.25%;
    display: inline-block;
    cursor: pointer;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    margin: 10px;

}

.game-item:hover{
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 16%, rgba(204,204,204,1) 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(16%,rgba(204,204,204,1)), color-stop(45%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 16%,rgba(204,204,204,1) 45%); /* Chrome10+,Safari5.1+ */

}
.difficulty{
    padding-top:50px;
}

.spacer{
    padding:0 30px 0 30px;
    line-height: 1.8;
    font-size: 2em;

}
.wrap{
    height:65px;
    display: table;
    padding:0px 0px 10px 0px;
    vertical-align: middle;
    margin:0 auto;

}
.game-item h4{
    margin-top:0px;
    line-height: 1.2em;

    height: 2.9em;
    font-size: 1.7em;
    padding:0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}

.guide  {
    margin:0;
    padding:0;
}
.guide p {
    font-size: 1.9em;
    line-height: 1.3;
    margin: 20px 0px 0px 5px;
}

#header{
    z-index: 10;
    margin-top:10px;
}
.selectable{
    margin:5px;
    border:5px solid white;
    padding:0;
}

.selected{
    border:5px solid #515151;
    margin:5px;
    padding:0;

}

.results{

}

.align-right{
    text-align: right;
}

.results p{
    font-size: 1.9em;
    line-height: 1.2em;
}

.bottom-right{
     position: absolute;
     right:50px;
     bottom:20px;
 }
.bottom-center-right{
    position: absolute;
    right:200px;
    bottom:20px;
}
.bottom-left{
    position: absolute;
    left:50px;
    bottom:20px;
}
.tiny{
    font-size: 12px;
}
.btn{
    font-size: 1.5em;
}
ul{
    text-indent: 0;
    margin:0;
    padding:0;
}
.reset{
    margin:0;
}
.title{
    margin-left:35px;
}
hr{
    margin-top:5px;
}

.backToService{
    position: absolute;
    top:10px;
    right:80px;

}

.center{
    display: block;
    margin: 0 auto;
}

.pregame-options{
    position: absolute;
    right: 40px;
    bottom: 20px;
}

.bigger{
    padding: 20px;
    font-size: 2em;
}
.bigger-correct{
    display:block;
    padding:21px;
    width:100%;
    font-size: 1.6em;
    line-height: 1.2em;

}

.spaceTop{
    margin-top: 5px;
}

.alert-bigger{
    text-align: center;
    padding:40px;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;

}




.record{
    list-style-type: none;
}
.record li{
    font-size: 1.9em;
    line-height: 1.6em;
}

.answer-row{
    float:right;
}

/* tekstiviestipeli */

.phone-container{

}
img.phone{
    z-index: -1;
    margin-top: 0px;
    width:350px;
    -webkit-backface-visibility: hidden;

}
.textmessage{
    text-align: left;
    position: absolute;
    top: 40px;
    left: 80px;
    width: 950px;
    font-size:5em;
    line-height: 1;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 20px;
}
.textmessage:after{
    content:"";
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:25px 25px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#e8e8e8 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
.textmessage.left:after{
    top:85px; /* controls vertical position */
    left:-30px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:30px 30px 30px 0;
    border-color:transparent #e8e8e8;
}

.q-button{
    padding: 20px;
    font-size: 1.6em;
    line-height: 1.2em;
}
.a-button{
     padding: 20px;
     font-size: 1.6em;
     line-height: 1.2em;
 }
.btn-bolder {
    padding: 20px;
}

/* visuaalinen sarjamuisti */


.numArray{
    font-size: 9em;
    letter-spacing: 0.2em;
    width: 1280px;
    height: 500px;
    display: table-cell;
    vertical-align: middle;
}

.box{
    color: #000;
    display: inline;
    padding: 10px 18px 0px 38px;
    margin-left:-40px;
    marrgin-right: -40px;
    border: 3px solid white;
    outline: 3px solid white;
}
.black{
    background-color: #000;
    border: 3px solid black;
    outline: 3px solid black;
}

.numOptions{
    margin-top: -100px;
    font-size: 6em;
    letter-spacing: 0.3em;
}



.box p{
    color: #000;


}

.active{
    border: 3px solid white;
    outline: 3px solid red;
}

.choices{
    display: inline;
}
.answers{
    
    margin-top: 100px;
    display: inline;


}