html, body{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    margin:0;
    padding:0;
    height: 100%;
    width:100%;
    display: block;
}

.danger{
    color: #da4f49;
}
.success{
    color: #468847;
}
.warning{
    color: #faa732;
}

.modal {
    display: none;
    height: 300px;
	width: 800px;
	left: 42%;
    background: rgba( 255, 255, 255, .9 )
        url(../assets/img/ajax-loader.gif)
        50% 60%
        no-repeat;
}

.icon-bigger{
    margin-top: -4px !important;
    zoom: 1.5;
    -moz-transform: scale(1.5);
    vertical-align: middle;
}

.game-time{
    position: absolute;
    top: 7px;
    left: 650px;
}

.info-modal{
	z-index: 1000;
    display: none;
    position: fixed;
    height: 210px;
    width: 350px;
    background: rgba( 255, 255, 255, 1);
    top: 30%;
    margin-top: -100px;
    left: 50%;
    margin-left: -175px;
    text-align: center;
    padding: 25px 10px;
    font-size: 2em;
    line-height: 1.2;
    border-radius: 10px;
    border: 2px solid black;
}
.info-modal button{
	margin-top: 5px;
    height: 50px;
}

.overlay {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=70);
	display:none;
}

.container{
    min-height: 100%;
    height: 100%;
    width: 100%;
}
#content{
    overflow-x: scroll;
    display: block;
    height: 100%;
    width: 95%;
    min-width: 1160px;
    /*min-width: 700px;*/
    margin: 0 auto;
}
.row-fluid{
    overflow: hidden;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
#header{
    width:100%;
    min-width: 100%;
    height: 60px;
    margin:0;
    padding:0;
    z-index: 10;
    background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(140,140,140,1) 96%,rgba(51,56,58,1) 100%);
    background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(140,140,140,1) 96%,rgba(51,56,58,1) 100%);
    background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(140,140,140,1) 96%,rgba(51,56,58,1) 100%);
    background: linear-gradient(top, rgba(204,204,204,1) 0%,rgba(140,140,140,1) 96%,rgba(51,56,58,1) 100%);
}

#header h2{
    color: #5c5c5c;
    margin:0;
    padding: 10px 0 0 50px;
    /*margin-left:100px;*/
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em;

}

#header h1{
    margin:0;
    padding-top: 0.9%;
    font-size: 2.5em;
}

.rounded{
    border-radius: 10px;
}

.img-helper{
    border: 1px solid #dddddd;
    overflow: hidden;
    margin: 10px;
}

.game-item{
    width: 17%;
    display: inline-block;
    cursor: pointer;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    margin: 20px 10px;

}

.game-item:hover{
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 16%, rgba(204,204,204,1) 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(16%,rgba(204,204,204,1)), color-stop(45%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 16%,rgba(204,204,204,1) 45%); /* Chrome10+,Safari5.1+ */
}

.difficulty{
    padding-top:50px;
}

.spacer{
    padding:0 30px 0 30px;
    line-height: 1.8;
    font-size: 2em;
}

.wrap{
    height:65px;
    display: table;
    padding:0px 0px 10px 0px;
    vertical-align: middle;
    margin:0 auto;
}

.game-item h4{
    margin-top:0px;
    line-height: 1.2em;
    height: 2.9em;
    font-size: 1.5em;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.guide {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
    overflow-y: scroll;
    height: 624px;
    margin:0;
    padding:0;
    text-align:left;
}

.guide p {
    font-size: 1.9em;
    line-height: 1.3;
    margin: 20px 0px 0px 5px;
}

.category-scroller{
    overflow-x: scroll;
    overflow-y: hidden;
}
.inner-img{
    width: 1750px;
}
.inner-img-short{
    width: 1625px;
}
.inner-img-short img:first-of-type{
    margin-left:75px;
}
.inner-img-short img:last-child{
    margin-right:75px;
}
.category{
    padding:0;
}
.inner-img img:first-of-type{
    margin-left:75px;
}
.inner-img img:last-child{
    margin-right:75px;
}
.fade-left{
    position: fixed;
    z-index: 99;

    width: 100px;
    height: 150px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -moz-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
}
.fade-right{
    position: fixed;
    z-index: 99;
    margin-left:475px;
    width: 100px;
    height: 150px;
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -moz-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
}


.selectable{
    margin:5px;
    border:5px solid white;
    padding:0;
}

.selected{
    border:5px solid #515151 !important;
    margin:5px;
    padding:0;
}

.item-collection{
    max-width: 1200px;
    margin: 0 auto;
}

.mood-meter{
	text-align: center;
}
.mood-meter button, h2, p{
	margin:0 10px;
}
.smiley {
	width: 170px;
	height: 170px;
	padding:0 25px;
}

.results p{
  font-size: 1.9em;
  line-height: 1.2em;
	padding-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.results button{
  font-size: 1.9em;
}

.btn-feedback{
	position: absolute;
	margin-top: 10px;
	right: 10.5%;
}
.btn-playerToggle{
	margin-top: 10px;
	height: 100px;
	width: 80%;
}

.bottom-right{
     position: absolute;
     right:50px;
     bottom:20px;
 }

.bottom-center-right{
    position: absolute;
    right:200px;
    bottom:20px;
}

.bottom-left{
    position: absolute;
    left:50px;
    bottom:20px;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.tiny{
    font-size: 12px;
}

.btn{
    font-size: 1.5em;
}

ul{
    text-indent: 0;
    margin:0;
    padding:0;
}

.reset{
    margin:0;
}

.title{
    margin-left:35px;
	padding: 5px 0;
    text-align: left;
}

hr{
    margin-top:5px;
}

.backToService, .back-root, .back-history{
    position: absolute;
    top:.8%;
    right:6%;
}
.top-bar-mid{
	position: absolute;
	top:1.2%;
	right: 17%;
}
.top-bar-mid h4{
	position: absolute;
	display: inline-block;
	margin: 13px 0 0 -115px;
	font-size: 1.5em;
}

.center{
    display: block;
    margin: 0 auto;
}

.pregame-options{
    position: absolute;
    right: 40px;
    bottom: 20px;
}

.tight{
    line-height: 0.8;
    margin-bottom:-5px;
}

.bigger{
    padding: 20px;
    font-size: 2em;
}

input[type=checkbox]
{
	-ms-transform: scale(4); /* IE */
	-moz-transform: scale(4); /* FF */
	-webkit-transform: scale(4); /* Safari and Chrome */
	-o-transform: scale(4); /* Opera */
}

.checkbox-moodmeter {
	font-size: 2em;
	padding: 27px;
}

.bigger-correct{
    display:block;
    padding:21px;
    width:100%;
    font-size: 1.6em;
    line-height: 1.2em;
}

.spaceTop{
    margin-top: 5px;
}

.alert-bigger{
    text-align: center;
    padding:40px;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.record{
    list-style-type: none;
}

.record li{
    font-size: 1.9em;
    line-height: 1.6em;
}

.answer-row{
    float:right;
}

/* tekstiviestipeli */

img.phone{
    z-index: -1;
    margin-top: 0px;
    width:25%;
    -webkit-backface-visibility: hidden;

}
.txt-answer-tmpl{
    margin-top:40px;
}
.textmessage{
    text-align: left;
    position: absolute;
    top: 40px;
    width: 60%;
    min-width: 750px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size:5em;
    line-height: 1;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 20px;
}

.textmessage:after{
    content:"";
    position:absolute;
    bottom:-15px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:25px 25px 0; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:#e8e8e8 transparent; /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

.txt-left:after{
    top:85px; /* controls vertical position */
    left:-30px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:30px 30px 30px 0;
    border-color:transparent #e8e8e8;
}

.options-area{
    height: 600px;
    overflow-y: scroll;
}


.q-button{
    padding: 20px;
    font-size: 1.6em;
    line-height: 1.2em;
}
.a-button{
     padding: 20px;
     font-size: 1.6em;
     line-height: 1.2em;
 }
.btn-bolder {
    font-size:1em;
    padding: 20px;
}


/* visuaalinen sarjamuisti */

.numArray{
    font-size: 8.8em;
    letter-spacing: 0.2em;
    width: 1280px;
    height: 500px;
    display: table-cell;
    padding-top: 175px;
}

.ansArray{
    font-size: 8.8em;
    letter-spacing: 0.2em;
    margin-top: 100px;
    margin-bottom: -130px;
}

.box{
    color: #000;
    display: inline-block;
    margin-top: 40px;
    border: 6px solid white;
    width: 150px;
    max-height: 0;

    -webkit-transition: max-height 1.5s ease;
    -moz-transition: max-height 1.5s ease;
    transition: max-height 1.5s ease;
}

.box p{
    padding-left: 15px;
    padding-top: 60px;
    margin: 0;
    color: #000;
    text-align: center;
 }

.black{
    height: 150px;
    max-height: 150px;
    background-color: #000;
    border: 6px solid black;
}
.dummy-white{
    max-height: 150px;
}
.dummy-white p{
    padding-bottom: 26px;
}

.actived{
    border:6px solid black;
    box-shadow: 0 0 0 2px #fff, 0 0 0 16px red;
}

.numOptions{
    margin-top: -170px;
    font-size: 6em;
    letter-spacing: 0.3em;
    cursor: pointer;
}

.answers{
    display: inline-block;
    color: darkgreen;
    padding: 0 25px;
    margin: 0;
    margin-left: 17px;

}

.choices{
    display: inline;
}

/* sanojen tunnistaminen */


@font-face{
    font-family: 'courier-new';
    src: url('../assets/fonts/WebFont.eot');
    src: url('../assets/fonts/WebFont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/WebFont.woff') format('woff'),
    url('../assets/fonts/WebFont.ttf') format('truetype'),
    url('../assets/fonts/WebFont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.timer{
    position: absolute;
    z-index: 999;
    left: 50%;
    margin-left: -50px;
    bottom: -80px;
}



.scroller{
    white-space: nowrap;
    font-family: courier-new;
    font-weight: bold;
    position: absolute;
    top:200px;
    right:0;
    font-size: 4.1em;
    overflow: hidden;
}

.scroller span{
    display: inline-block;
    padding-top:60px;
    width: 50px;
    height:100px;
}

.selector{
    position: absolute;
    left: 50%;
    margin-left: -250px;
    background-color: #ff0000;
    opacity: 0.5;
    width: 500px;
    height: 80px;
    top: 220px;
}

.onTarget-pressed-info{

    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 335px;
    width: 500px;
    text-align: center;
    font-size: 2.2em;
}



.onTarget{
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 400px;
    display: block;
    width: 500px;
    height: 150px;
}

.hint{
    position: absolute;
    text-align: center;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 100px;
}

/* KONSTRUOINTI */

.construct-body{
    margin-top:100px;
}

.construct img{
    width:100px;
    height: 100px;
    margin-left:-5px;
}

.construct-answer img{
    width:100px;
    height: 100px;
    margin-left:-5px;
}

.firstRow-answer img{
    border-top: 2px solid black;
}
.firstRow-answer img:first-child{
    border-left: 2px solid black;
}
.firstRow-answer img:last-child{
    border-right: 2px solid black;
}

.answerblocks{
    left:-50px;
    padding-top: 80px;
    display: inline-block;
}
.answerblocks img{
    width: 90px;
    height: 90px;
}

.border-bottom{
    border-bottom: 2px solid black;
}

.bordered{
    border: 1px solid black;
}

.bordered-bottom img{
    border-bottom: 2px solid black;
}
.bordered-bottom img:first-child{
     border-left: 2px solid black;
}
.bordered-bottom img:last-child{
    border-right: 2px solid black;
}
.bordered-mid img:first-child{
    border-left: 2px solid black;
}
.bordered-mid img:last-child{
    border-right: 2px solid black;
}

/* PÄÄTTELE SALANA */

.myForm{
    margin-top:80px;
}
 .serial-input{
    width: 225px;
    line-height: 2em;
    margin-top: 50px;
    text-transform: uppercase;
    height: 52px !important; /* overriding bootstraps stuff with !important */
    font-size: 2em !important;
    line-height: 1 !important;
}

.serial-input::-webkit-input-placeholder{
    color: green;
}

.submit{
    margin-top: 37px;
    margin-left: 20px;
 }

.text-danger{
    font-size: 1.5em;
    color:red;
}

.guesses{
    padding-top: 5px;
    font-size: 3em;
    letter-spacing: 0.2em;
    padding-left: 150px;
}

.guesses p{
    padding:12px;
}

.alert-password{
    font-weight: bold;
    letter-spacing: 0.2em;
}
.pw-hint{
    height: 41px;
    font-size: 1.6em;
}
.pw-hint span{
    line-height: 2;
}

.dot-hint{
    font-size: 22px;
    height: 25px;
    padding-left:5px;
    margin-bottom:5px;
}

span.bullet{
    text-align: center;
    font-size: 40px;
    float: left;
    width: 40px;
}


/* KIM  */

.items .item{
    border: 5px solid white;
    margin: 10px;
    padding:5px;
}
.kim-item{
    padding:5px;
}

.kim-color-hint{
    position: absolute;
    left: 50%;
    margin-left: -295.5px;
    bottom: 250px;
}

.kim-easy img{
    width: 180px;
    height: 180px;
}

.kim-medium img{
    width: 150px;
    height: 150px;
}

.kim-hard img{
    width: 100px;
    height: 100px;
}




.success-border{
    border: 5px solid green;
}
.danger-border{
    border: 5px solid red;
}
.warning-border{
    border: 5px solid #faa732;
}

.fixed-size{
    width:108px;
    height:108px;

}
.text-category{
    border:5px solid white;
    margin:5px;
    padding:0;
}

/* Audatiivinen interferenssi */

.horizontal-center{
    margin-top:80px;
}
.horizontal-center h3{
    padding-bottom: 20px;
}
.horizontal-center img{
    display: block;
    width:180px;
    height: 180px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.check{
    width: 180px;
    padding:40px;

}
.inputs{
    padding-top:10px;
}
.input-container{
    position: absolute;
    left: 50%;
    margin-left: -510px !important;

}
.input{
    float:right;
    width:420px;
    margin-bottom:10px;
    height: 42px !important; /* overriding bootstraps stuff with !important */
    font-size: 2em !important;
    line-height: 1.5 !important;
}

.input-success{
    background-color: #DFF0D8 !important; /* overriding bootstraps stuff with !important */
    color: #468847 !important;
}

.aud-hint{
    text-align: left;
    font-size: 2.2em;
    line-height: 1.2;
    margin-top: 15px;
    color: #808080;
}

.sounds-tip{
	margin-top: 100px;
}

.below{
    margin-top:10px;
    padding:46px 0 46px 0;
}


.carousel-inner .item img{
    border: 5px solid white;
    display: inline;
    padding:20px 5px;
    margin:5px;
    z-index:-10;

}
.carousel-inner .item{
    height: 200px;
    padding-top: 15px;
    margin: auto 0;
}

.slider-control{
    position: absolute;
    top:16px;
    left:15px;
    width:45px;
    font-size: 150px;
    height: 180px;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    text-shadow: 1px 1px 1px black;
    background-color: #aeaeae;
}

#categoryCarousel a:hover, a:active, a:focus{
    text-decoration:none;
    color: #fff;
}


.right{
    position: absolute;
    left: 100%;
    margin-left: -44px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

}
.left{
    left:1px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.slide-borders{
    height: 180px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #515151;
    border-radius:30px;

}
.carousel-indicators{
    position: absolute;
    left:45%;
    top:95%;
    text-align: center;
}

.carousel-indicators li{
    background-color: #BEBEBE;
}
.carousel-indicators li.active{
    background-color: #515151;
}
.cat-titles{
    margin-top:-90px;
}
.item .title-background{
    position: relative;
    background-color: #515151;
    opacity: 0.7;
    height: auto;
    padding: 0 10px;
    margin: 0 5px;
    width: 120px;
    display: inline-block;
}

.item h4{
    color: #fff;
}
.clicker{
    display: inline-block;
    position: absolute;
    z-index:999;
    margin-left: 5px;
    margin-top:5px;
    width: 140px;
    height: 170px;
    cursor: pointer;
    opacity: 0;
}

.clicker:first-child{
   margin-left:56px;
}

.slide4 .clicker:first-child{
    margin-left: 133px;
}


/* Sudoku */

.eraser-text{
    margin-top: 5px;
    font-size: 50%;
    text-align: left;
    line-height: 0.9;
    display: inline-block;
}

.sudoku-wrapper {
  margin: 0px auto;
  padding: 20px 150px;
  display: table;
  table-layout: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sudoku-grid {
  position: relative;
  float: left;
  text-align: center;
  display: table;
  table-layout: fixed;
}

.sudoku-grid-content {
  border: 2px solid #000000;
}

.sudoku-grid-row {
  overflow: hidden;
}

.sudoku-grid-row-divider {
  height: 2px;
  background-color: #000000;
}

.sudoku-grid-cell {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #cccccc;
  font-size: 45px;
  font-weight: bold;
  line-height: 50px;
}

.sudoku-grid-cell-given {
  background-color: #e5e5e5;
}

.sudoku-grid-cell-hint {
  background-color: #aaffaa;
}

.sudoku-grid-cell-corrected {
  background-color: #8888ff;
}

.sudoku-grid-cell-conflict {
  background-color: #ffaaaa;
}

.sudoku-grid-cell-selectable {
  cursor: pointer;
}

.sudoku-grid-cell-selectable:hover {
  background-color: #ffffaa;
}

.sudoku-grid-cell-selected {
  border: 1px solid #ff0000; /* blue #0000ff - red used instead because narrations speak of red */
  box-shadow: 0px 0px 15px #ff0000 inset; /* blue #0000ff */
}

.sudoku-grid-cell-image {
  width: 100%;
  height: 100%;
  display: block;
}

.sudoku-grid-cell-divider {
  float: left;
  width: 2px;
  height: 52px;
  background-color: #000000;
}

.sudoku-grid-conflicts-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.sudoku-grid-conflicts-overlay-content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 2px;
}

.sudoku-grid-conflicts-overlay-rows {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.sudoku-grid-conflicts-overlay-row {
  height: 50px;
  border: 1px solid #ff0000;
  box-shadow: 0px 0px 15px #ff0000 inset;
  visibility: hidden;
}

.sudoku-grid-conflicts-overlay-row-divider {
  height: 2px;
}

.sudoku-grid-conflicts-overlay-cols {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.sudoku-grid-conflicts-overlay-col {
  position: relative;
  float: left;
  width: 52px;
  height: 100%;
  visibility: hidden;
}

.sudoku-grid-conflicts-overlay-col-content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: 1px solid #ff0000;
  box-shadow: 0px 0px 15px #ff0000 inset;
}

.sudoku-grid-conflicts-overlay-col-divider {
  float: left;
  width: 2px;
  height: 100%;
}

.sudoku-grid-conflicts-overlay-regions {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.sudoku-grid-conflicts-overlay-region {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #ff0000;
  box-shadow: 0px 0px 15px #ff0000 inset;
  visibility: hidden;
}

.sudoku-grid-conflicts-overlay-region-horizontal-divider {
  float: left;
  width: 2px;
  height: 50px;
}

.sudoku-grid-conflicts-overlay-region-vertical-divider {
  float: left;
  width: 100%;
  height: 2px;
}

.sudoku-toolbar {
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 25px;
  border: 2px solid #000000;
  text-align: center;
}

.sudoku-toolbar-cell {
  width: 50px;
  height: 50px;
  border: 1px solid #cccccc;
  font-size: 45px;
  font-weight: bold;
  line-height: 50px;
}

.sudoku-toolbar-cell-selectable {
  cursor: pointer;
}

.sudoku-toolbar-cell-selectable:hover {
  background-color: #ffffaa;
}

.sudoku-toolbar-cell-image {
  width: 100%;
  height: 100%;
  display: block;
}

.sudoku-actions {
  height: 44px;
  margin-top: 20px;
  text-align: center;
  display: none;
}

.sudoku-actions .btn {
  margin: 0px 5px;
}

.sudoku-wrapper-actions-available .sudoku-actions {
  display: block;
}


/* Ristinolla */

.fiar-grid {
  margin: 0px auto;
  padding: 20px 170px;
  text-align: center;
  display: table;
  table-layout: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fiar-grid-row {
  overflow: hidden;
}

.fiar-grid-cell {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid #cccccc;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}

.fiar-grid-cell-selectable {
  cursor: pointer;
}

.fiar-grid-cell-selectable:hover {
  background-color: #ffffaa;
}

.fiar-grid-cell-winning {
  background-color: #aaffaa;
}


.dark{
    height: 3px;
    color: #515151;
    background-color: #515151;
}


.well-info{
    background-color: #379DBB;
}
.well-info p{
    color: #fff;
    margin:0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* styles for pregame selector of sudoku */

#sudokuSelector{

}
.sudoku-images{
    display: inline-block;

}
.sudoku-img{
    z-index: 9999;
    padding:0 15px;
    height: 110px !important;
    width: 110px !important;
    cursor: pointer;
}

.sudoku-title{
    position: absolute;

    width: 119px;
    background-color: #515151;
    color: #fff;
    opacity: 0.7;
    margin-left: 5px;
    margin-top: 50px;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 5px 0;

}

.sudokuCategoryTitle{
    margin-bottom: 5px;
}

.credits{
    margin-left: 2.127659574468085%;
}

.credits p{
    font-size: 120%;
}
